<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments.html :: headers}"></th:block>
    <script src="/account-donate.js"></script>
</head>

<body>

<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>

<div id="content">
    <form method="post" onsubmit="return validate()">
        <input type="text" placeholder="Write amount that you wanna top up" class="input-field"
               th:field="*{accountModel.accountBalance}" id="accountBalance">
        <p id="info"></p>
        <input type="submit" value="Submit donate" class="button">
    </form>
</div>

</body>
</html>